In [38]:
input_list = [0,1,2,3,4]
CUBE = list(map(lambda x:x*x*x , input_list))
CUBE

[0, 1, 8, 27, 64]

In [18]:
input_list =['Kenya','Norway','India','New Zealand']
Count = sum(map(lambda x: x[0] == 'N', input_list))
Count

2

In [20]:
first =[ 'Britney','Tom','Kill']
last=[ 'Spears','Cruise','Bill']

fullname = list( map(lambda x,y:x+' '+y , first,last) )
fullname

['Britney Spears', 'Tom Cruise', 'Kill Bill']

In [22]:
input_list=[0,6,20,12,9,36]
answer = list( filter( lambda x:x%6==0 , input_list ) )
answer

[0, 6, 12, 36]

In [29]:
input_list = ['akhhq','hlhjh','qjkjlkja','aiuoiu']
answer = list( filter( lambda x: x.startswith('a') and x.endswith('q') , input_list ) )
answer

['akhhq']

In [37]:
from functools import reduce
input_list =[ 'hi','how','are','you']


answer = reduce(lambda x,y:x+' ' + y , input_list)
answer

'hi how are you'